<!DOCTYPE html>
<html>

<head>
    <title>Map test</title>

</head>

<body>

    <h1>Maps</h1>
    <p>testing</p>
    <button type="button" onclick="reset()">reset</button>
    <canvas id="maps" onmousemove="draw(event)" onmousewheel="resize(event)" style="margin:0;padding:0;border:1px solid #000000;" class="canvasView" width="1080" height="720"></canvas>
    <script src="..\assets\script.js"></script>
</body>

</html>